{% extends 'adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="0">

    <!--<tr>-->
      <!--<td><a href="addstudent">Add student</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="mngstudent">Manage student</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="addpollingofficer">Add polling officer</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="mangpollingofficer">Manage polling officer</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="guide">Add guideline&notification</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="View guideline&notification">View guideline&notification</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="viewresult">View result&declare</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="viewreport">View report issue</a></td>-->
    <!--</tr>-->
       <!--<tr>-->
      <!--<td><a href="/">log out</a></td>-->
    <!--</tr>-->
    <br>
        <br>
    <br>
    <br>

  </table>
</form>
</body>
</html>{% endblock %}
