
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>The Town HTML CSS Template</title>
    <link rel="stylesheet" href="../static/fontawesome-5.5/css/all.min.css" />
    <link rel="stylesheet" href="../static/slick/slick.css">
    <link rel="stylesheet" href="../static/slick/slick-theme.css">
    <link rel="stylesheet" href="../static/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/templatemo-style.css" />
    <!--
	The Town
	https://templatemo.com/tm-525-the-town
	-->
  </head>
  <body>    
    <!-- Hero section -->
    <section id="hero" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
        <div class="container">   
          <div class="tm-next">
              <a href="adminhome" class="navbar-brand">HOME</a>
          </div>             
            
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="/addstudent#introduction">Add student</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="/mngstudent#introduction">Manage student</a>
              </li>
               <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="/addpollingofficer#introduction">Add polling officer</a>
              </li>
               </li>
               <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="/mangpollingofficer#introduction">Manage polling officer</a>
              </li>
               <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="/guide#introduction">Add guideline&notification</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="/viewguideline#introduction">View guideline&notification</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="/viewresult#introduction">View result&declare</a>
              </li>
               <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="/viewreport#introduction">View report issue</a>
              </li>
            </ul>
          </div>        
        </div>
      </nav>
      
      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title">I VOTE</h2>
            <p class="tm-hero-subtitle">
              <br />
            </p>
        </div>        
      </div>

      <div class="tm-next tm-intro-next">
        <a href="#introduction" class="text-center tm-down-arrow-link">
          <i class="fas fa-3x fa-caret-down tm-down-arrow"></i>
        </a>
      </div>      
    </section>

    <section id="introduction" class="tm-section-pad-top">
      <div class="container">
        <div align="center">
        {% block body %}
        {% endblock %}
          </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">
      <footer class="text-center small tm-footer">
          <p class="mb-0">
            Copyright &copy; 2019 Company Name 
            
            - Design: <a rel="nofollow" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
          </p>
        </footer>
    </section>
    <script src="../static/js/jquery-1.9.1.min.js"></script>
    <script src="../static/slick/slick.min.js"></script>
    <script src="../static/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/jquery.singlePageNav.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

  </body>
</html>