<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'adminindex.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="editcoursecode">
  <table width="200" border="0" id="customers">
    <tr>
      <th>Department</th>
      <td><label>
      
        <div align="left">
          <select name="select">
            {% for i in v %}
            <option value={{i[0]}}>{{i[1]}}</option>
            {% endfor %}
          </select>
        </div>
      </label></td>
    </tr>
    <tr>
      <th>Course</th>
      <td><label>
        <input type="text" name="textfield" value="{{val[2]}}" />
      </label></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><label>
        <textarea name="textarea">{{val[3]}}</textarea>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>

        <div align="left">
          <input type="submit" name="Submit" value="update" class="btn btn-secondary" />
        </div>
          </label></td></tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}