
{% extends 'index.html' %}
{% block body %}
<head>
  <style>
    .btn btn-info
    {
     background-color: #996600;
     color: white;
    }

  </style>
</head>
<form id="form1" name="form1" method="post" action="/log">
  <table width="200" border="0" id="customers">
    <tr>
      <th>USERNAME</th>
      <td><label>
        <input type="text" name="textfield1"  required />
      </label></td>
    </tr>
    <tr>
      <th>PASSWORD</th>
      <td><label>
        <input type="password" name="textfield2" required />
      </label></td>
    </tr>
    <tr>
      <td colspan="2">
        <div align="center">
          <input type="submit" name="Submit" value="LOGIN" class="btn btn-secondary"/>
          </div>
      </td>
    </tr>
  </table>
</form>
{% endblock %}