<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'adminindex.html' %}
{% block body %}

<body>
<table width="200" border="0" id="customers">
  <tr>
    <th colspan="3">Department
      <form id="form1" name="form1" method="post" action="searchcourse#about">
        <label>
          <select name="select">
              {% for i in val %}
            <option value="{{i[0]}}" {%if i[0]==dep%} selected {%endif%}>{{i[1]}}</option>
             {% endfor %}

          </select>
        </label>
        <label>
        <input type="submit" name="Submit" value="Search"  />
        </label>
      </form>    </th>
  </tr>
  <tr>
    <th>Course</th>
    <th>Description</th>
    <th>&nbsp;</th>
  </tr>
  {% for i in v %}
  <tr>
    <td>{{i[5]}}</td>
    <td>{{i[6]}}</td>
    <td><p><a href="editcourse?id={{i[3]}}#about">edit</a></p>
    <p><a href="deletecouse?id={{i[3]}}">delete</a></p></td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan="3"><form id="form2" name="form2" method="post" action="addcourse#about">

        <div align="center">
        <input type="submit" name="Submit2" value="Add" class="btn btn-secondary"/>
          </div>

    </form>
    </td>
  </tr>
</table>
</body>
<!--</html>-->
{% endblock %}
