{% extends 'officerindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="0">
    <!--<tr>-->
      <!--<td><a href="/verifystud">Verify student</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/pollingviewreport">Report issue</a></td>-->
    <!--</tr>-->
     <!--<tr>-->
      <!--<td><a href="/addpost1">Add post</a></td>-->
    <!--</tr>-->
      <!--<tr>-->
      <!--<td><a href="/addpost1">View result</a></td>-->
    <!--</tr>-->
  </table>
</form>
{% endblock %}