<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'officerindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/addpost">
  <table width="200" border="0" id="customers">
    <tr>
      <th>post_name</th>
      <td><label>
        <input type="text" name="textfield" required/>
      </label></td>
    </tr>
    <tr>
      <th>discription</th>
      <td><label>
        <textarea name="textarea" required></textarea>
      </label></td>
    </tr>
    <tr>
      <th>Election date</th>
      <td><label>
        <input type="date" name="text" required/>
      </label></td>
    </tr>
    <tr>
      <th>Election notification</th>
      <td><label>
        <textarea name="textarea1" required></textarea>
      </label></td>
    </tr>
    <tr>
      <td colspan="2">
        <div align="center">
          <input type="submit" name="Submit" value="Add" class="btn btn-secondary" />
        </div>
      </td>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}