<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'adminindex.html' %}
{% block body %}
<body>
<form action="" method="get">
  <p align="center"><strong><u>COMPLAINTS</u></strong></p>
  <table width="200" border="0" align="center" id="customers">
  <tr>
    <th scope="col">USERNAME</th>
    <th scope="col">COMPLAINT</th>
    <th scope="col">DATE</th>
    <th scope="col">&nbsp;</th>
  </tr>
    {% for i in val %}
  <tr>
    <td>&nbsp;{{i[5]}}</td>
    <td>&nbsp;{{i[3]}}</td>
    <td>&nbsp;{{i[2]}}</td>
    <td><a href="/reply?id={{i[0]}}#about">REPLY</a></td>
  </tr>
    {% endfor %}
</table>

</form>
</body>
<!--</html>-->
{% endblock %}